// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');

// Your CSS partials
@import "components/index";
@import "pages/index";

@media only screen and (max-width: 800px) {
  #header{
    background-image: url('bg-mobile.png');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
  }
}
